@font-face {
  font-family: 'Kanginhan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_07@1.0/Kanginhan.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.App > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.App_background {
  object-fit: cover;
}

.App_container {
  z-index: 1;
  background: linear-gradient(transparent 10%, white, white);
}

.App-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-title {
  font-family: 'Kanginhan';
  font-size: calc(10px + 7vmin);
}

.button_container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pretendard';
}

.button_container > button {
  width: 220px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: 14px;
}

.kakao_login {
  margin-right: 2.5px;
}

.instagram_login {
  margin-left: 2.5px;
}

.App-body {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result_button {
  position: fixed;
  left: calc(50% - 222.5px);
  bottom: 40px;
  width: 445px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 16px;
}
