.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  animation: spin 2s linear infinite;
  position: fixed;
  transform: translate(50%);
  box-shadow: rgb(0 0 0 / 50%) 0 0 0 9999px;
  z-index: 100;
  background-color: rgb(0 0 0 / 50%);
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading > * {
  width: 50px;
  color: black;
}
